@import "colores";
@import "ops";

.menuMain__ {
    text-align: center;
    padding: 1rem;
    border: 0.313rem;
    border-style: solid none solid none;
    border-color: $borders;

    a {
        color: $text;
        font-size: x-large;
    }

    a:hover {
        color: $links;    
    }
}

.philosophy__ {    
    margin-bottom: $margin - 3;

    h1 {
        justify-content: center;
        color: $links;  
        font-size: 2rem;
        margin-bottom: $margin - 3.5;    
        padding-top: 2rem;
    }
}

.phrase {
    text-align: center;  
    margin-bottom: $margin - 3;

    h1 {
        color: $text;
        font-size: 1.5rem;
        margin-top: $margin - 3;
    }

    h1:hover {
        color: $links;
    }
}

.menuIzq__ { 
    margin-top: $margin;
    
    li {
        padding: 0.5rem;
        color: $text;
        border-color: $borders;
        border-style: none none none solid;
        margin: $margin - 4.375;
        list-style-type: none;
    }

    li:hover {
        color: $links;
        transform: translateX(5px);
    }
}

.productContainer__ {

    li {
        margin-top: $margin;
        list-style-type: none;
        font-size: 1.5rem;
        text-align: center;
        color: $text;

        img {
            width: 100%;
            height: 300px;
            border-style: double;
            border-color: $borders;    
            transition: 0.5s;    
        }

        img:hover {
            transform: translateY(-15px); 
        }
    }
}

.imgCarrusel { 
    
    div{

        img {
            width: 300px;
            height: 300px;
            border-style: double;
            border-color: $borders;
        }
    }
}

.titles {

    h1 {
    margin-bottom: $margin - 3;
    color: $links;  
    font-size: 2rem;
    }
}

/*css suelto*/

.logoMain {
    justify-content: center;
    margin: $margin - 3
}

p.row, .form-group {
    color: $text;
}

.suscribite {
    text-align: center;
    font-size: 2rem;
    color: $links;
}

.footWrapper__ {
    border-style: solid none none none;
    border-color: $borders;
}
.footWrapper__content {
    margin: $margin - 3 0 $margin - 3 0;
}

body { 
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: $text;
    justify-content: center;
    margin-top: 2rem;
}

.carruselItem img {
    max-width: 100%;
}

.carousel-indicators {
    position: relative;
}

.brandsContainer {
    border-style: solid none none none;
    border-color: $borders;
    margin-top: $margin - 2;
    
}

.brandsItem {
    height: 80%;
    width: 80%;
}

.botonDp {
    color: $links;
    background-color: $text;
}

.menuMainExt {
    border: 0.313rem;
    border-style: solid none solid none;
    border-color: $borders;
}

.carousel-indicators li {
    background-color: rgb(153, 153, 153);
    background-color: rgb(75, 75, 75)
}
  
.carousel-indicators .active {
    background-color: rgb(68, 68, 68);
}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
